.parallax {
    min-height: 10rem;
    width: 120rem;
    background-image: url("../IMG/Imagenes Servicios/fondo_parallax.jpg");
    filter: grayscale(0.4);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10%;
}

.apartados {
    position: relative;
    display: flex;
}


.texto {
    color: purple;
}

.texto h2 {
    font-weight: bold;
}

.img {
    height: 20rem;
    width: 20rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



/*Movil*/
@media (max-width: 768px) {
    .apartados {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    html,
    body {
        overflow-x: hidden;
    }
}

@keyframes change {
    0% {
        scale: 0;
        opacity: 0
    }

    50% {
        scale: 1;
        opacity: 1;
    }
}